$red: red;
$green: green;
$pink: pink;
$tomato: tomato;
$skyblue: skyblue;
$yellow: yellow;

@mixin myMixin($size) {
  $width: 100px;
  @if $size %2==0 {
    $width: $width + 50;
  } @else if $size %3==0 {
    $width: $width + 100;
  } @else {
    $width: $width;
  }

  width: $width;
  height: 50px * 2;
  transition: 0.4s;
  &:hover {
    transform: scale(1.5);
  }
}

.wrap {
  margin: 20px;
  display: flex;
  .box {
    &.red {
      background: $red;
      @include myMixin(1);
    }
    &.green {
      background: $green;
      @include myMixin(2);
    }
    &.pink {
      background: $pink;
      @include myMixin(3);
    }
    &.tomato {
      background: $tomato;
      @include myMixin(4);
    }
    &.skyblue {
      background: $skyblue;
      @include myMixin(5);
    }
    &.yellow {
      background: $yellow;
      @include myMixin(6);
    }
  }
}
