#header{
    width: 100%;background: #efefef;
    .inner{
        width: 1300px;margin: auto;background: beige;position: relative;height: 120px;
        .h1{position: absolute;left: 0;top: 40px;font-size: 30px;}
        .gnb{position: absolute;right: 0;top: 50px;
        ul{
            display: flex;
            li{
                margin-left: 60px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    transition: 0.3s;
                    &:hover{
                        color: pink;
                    }
                }
            }
            .util-menu{
                position: absolute;right: 0;top: 10px;display: flex;
                li{
                    margin-left: 10px;
                    a{
                        font-size: 14px;
                    }
                    &::before{
                        content: "";display: inline-block;width: 1px;height: 10px;
                        background: #999;
                        margin-right: 10px;
                    }
                    &:first-child::before{display: none;}
                }
            }
        }
        }
    }
}