.TodosForm { text-align: center; padding:40px 0; background: #039BE5;}
.TodosForm input { width:350px; height:50px; border:1px solid #dcdcdc; font-size:20px; padding:10px; box-sizing: border-box; vertical-align: top; outline: none;}
.TodosForm button { width:100px; height:50px; margin-left:5px}